<h1>Welcome to app!</h1>
<table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Username</th>
            <th class="h">Password</th>
            <th class="h">Date</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="user" (dblclick)="editUser(user)" *ngFor="let user of usersList">

            <ng-container *ngIf="!editUsers.includes(user); else editTD">
              <td>{{user.username}}</td>
              <td>{{user.userPassword}}</td>
              <td>{{user.createdDate | date}}</td>
            </ng-container>

            <ng-template #editTD>
                <td><input type="text" name="username" id="username" (keypress)="submitUser($event, user)" [(ngModel)]="user.username" placeholder="Username" class="form-control"></td>
                <td><input type="password" name="password" id="password" (keypress)="submitUser($event, user)" [(ngModel)]="user.userPassword" placeholder="Password"
                    class="form-control"></td>
                <td>{{user.createdDate | date}}</td>
            </ng-template>

            <td class="o">
              <button class="btn btn-primary" (click)="editUser(user)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteUser(user)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
</table>
<form>
      <div class="form-row">

        <div class="col-md-5">
          <input type="text" name="username" id="username" [(ngModel)]="newUser.username" placeholder="Username" class="form-control">
        </div>
        <div class="col-md-5">
          <input name="password" id="password" [(ngModel)]="newUser.userPassword" placeholder="Password" class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary" (click)="create()">Add</button>
        </div>
      </div>
    </form>