<table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Username</th>
            <th class="h">Password</th>
            <th class="h">Date</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="user" (dblclick)="editUser(user)" *ngFor="let user of usersList">

            <ng-container *ngIf="!editUsers.includes(user); else editTD">
              <td>{{todo.username}}</td>
              <td>{{todo.password}}</td>
              <td>{{todo.date | date}}</td>
            </ng-container>

            <ng-template #editTD>
                <td><input type="text" name="username" id="username" (keypress)="submitUser($event, user)" [(ngModel)]="user.username" placeholder="Username" class="form-control"></td>
                <td><input type="password" name="password" id="password" (keypress)="submitUser($event, user)" [(ngModel)]="user.password" placeholder="Password"
                    class="form-control"></td>
                <td>{{user.date | date}}</td>
            </ng-template>

            <td class="o">
              <button class="btn btn-primary" (click)="editUser(user)">
                  <i  class="fa fa-pencil"></i>
                </button>
              <button class="btn btn-danger" (click)="deleteUser(user)">
                  <i  class="fa fa-trash"></i>
                </button>
            </td>

          </tr>
        </tbody>
</table>